<app-view-navbar></app-view-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-2">
                <h2 class="text-center">List of Friends</h2>
                
                <ng-container *ngIf="loading ; then loadingScreen; else dataScreen"></ng-container>
                <ng-template #loadingScreen>
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                </ng-template>
                <ng-template #dataScreen>
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of friendList">
                        <div class="card" >
                            
                            <div class="card-body">
                              <h5 class="card-title">Name: {{i.name}}</h5>
                              <p class="card-text">Friend Name: {{i.friendName}}</p>
                              <p class="card-text">Friend Nick Name: {{i.friendNickName}}</p>
                              <p class="card-text">Description: {{i.DescribeYourFriend}}</p>
                             
                            </div>
                          </div>
                        
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
