<app-navigation></app-navigation>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
                    <h1 class="text-center mt-3">Contact Us</h1>
                    <div class="card" >
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9wsiGW6ys74eXUvFmutLX0_WuVTWFbmo7c-FyO0E_heqVwt-WVNBTRHfRsozrPpKR6Wc&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                          <h5 class="card-title">NTP</h5>
                          <p class="card-text">Nest Tech Park</p>
                          <p class="card-text">Kakkanad</p>
                          <p class="card-text">phone:989087877</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
                    <h1 class="text-center mt-3">Location</h1>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d1003988.4801122039!2d75.5390736317182!3d10.592461036672782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d11.193615999999999!2d75.8184976!4m5!1s0x3b080b7fca7c6495%3A0x5c6cc61021571755!2snest%20tech%20park!3m2!1d10.0174763!2d76.3651263!5e0!3m2!1sen!2sin!4v1670144829640!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

