<app-navigation></app-navigation>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h1 class="text-center">Contact Us</h1>
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9wsiGW6ys74eXUvFmutLX0_WuVTWFbmo7c-FyO0E_heqVwt-WVNBTRHfRsozrPpKR6Wc&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">NTP</h5>
                          <p class="card-text">Nest Tech Park</p>
                          <p class="card-text">Kakkanad</p>
                          
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

